/* this file is mobile first */

.navbar {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 12px 15px;
  background-color: #ef4444;
}

.navbar .hamburger {
  position: absolute;
  top: 15px;
  left: 10px;
}

.navbar .hamburger i {
  font-size: 24px;
}

.navbar .hamburger i:hover {
  cursor: pointer;
}

.navbar .icon-play {
  width: 15px;
  height: 15px;
}

.navbar .searchBar {
  display: flex;
  align-self: center;
  justify-self: center;
}

.navbar .searchBar input{
  width: 220px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  padding: 8px;
}

.navbar .searchBar .searchIcon {
  background-color: #0f172a;
  color: #fff;
  padding: 8px 10px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar {
  position: absolute;
  top: 0;
  font-size: x-large;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  padding: 20px;
  background-color: #0f172a;
  color: #fff;
}

.sidebar .close-nav {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 350px;
}

.sidebar .close-nav:hover {
  cursor: pointer;
  color: #ef4444;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.side-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .icon-play {
  width: 40px;
  height: 40px;
}

.sidebar .icon-play {
  cursor: pointer;
}

.side-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
}

.side-items i {
  font-size: 20px;
}

.side-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-icons:hover {
  cursor: pointer;
}

.main {
  padding: 50px;
  margin-top: 50px;
  position: sticky;
}

.main .top-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
}

.main .top-title i {
  font-size: 38px;
  color: goldenrod;
}

.videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  place-items: center;
}

.videos-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  min-width: 400px;
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar .searchBar input{
    width: 500px;
  }

  .sidebar {
    font-size: large;
    width: 30vh;
  }

  .sidebar .close-nav {
    top: 10px;
    right: 15px;
    left: auto;
  }
}

/* Desktop */
@media screen and (min-width: 769px) and (max-width: 1279px) { 

  .hamburger i {
    font-size: 16px;
  }
  
  .navbar .icon-play {
    width: 32px;
    height: 32px;
  }

  .navbar .searchBar input{
    width: 500px;
  }
  
  .sidebar {
    font-size: large;
    width: 30vh;
  }
  
  .sidebar .close-nav {
    top: 10px;
    right: 15px;
    left: auto;
  }
}

/* Big boi desktop */
@media screen and (min-width: 1280px) {

  .navbar .icon-play {
    width: 32px;
    height: 32px;
  }

  .navbar .searchBar input{
    width: 500px;
  }
  
  .sidebar {
    font-size: x-large;
    width: 30vh;
  }
  
  .sidebar .close-nav {
    position: absolute;
    top: 10px;
    right: 15px;
    left: auto;
  }
}




