/* Media queries */

@import './css/index.css';

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

a {
  text-decoration: none;
}