.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 12px 15px;
  background-color: #ef4444;
}

.navbar .hamburger i:hover {
  cursor: pointer;
}

.navbar .icon-play {
  width: 32px;
  height: 32px;
}

.sidebar {
  position: fixed;
  z-index: 5;
  width: 30vh;
  display: block;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background-color: #0f172a;
  color: #fff;
}

.sidebar .close-nav {
  position: absolute;
  top: 10px;
  right: 15px;
}

.sidebar .close-nav:hover {
  cursor: pointer;
  color: #ef4444;
}

.hide {
  display: none;
}

.show {
  display: flex;
  
}

.side-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .icon-play {
  width: 40px;
  height: 40px;
}

.sidebar .icon-play {
  cursor: pointer;
}

.side-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
}

.side-items i {
  font-size: 20px;
}

.side-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-icons:hover {
  cursor: pointer;
}