/* this file is mobile first */

.navbar {
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 12px 15px;
  background-color: #ef4444;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* .navbar .hamburger {
  position: absolute;
  top: 15px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
} */

.navbar .nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.navbar .nav-brand .hamburger i {
  font-size: 24px;
}

.navbar .nav-brand .hamburger i:hover {
  cursor: pointer;
}

.navbar .nav-brand .logo {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.navbar .icon-play {
  width: 15px;
  height: 15px;
}

.navbar .searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .searchBar input{
  width: 220px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  padding: 12px 8px;
}

.navbar .searchBar .searchIcon {
  background-color: #0f172a;
  color: #fff;
  padding: 12px 14px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar .profile-pic:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  /* top: 80px; */
  bottom: 0;
  font-size: x-large;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  height: 92%;
  /* padding: 20px; */
  background-color: #0f172a;
  color: #fff;
}

.sidebar .side-items label {
  font-weight: bold;
  padding: 15px 0;
}

.sidebar .close-nav {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 380px;
}

.sidebar .close-nav:hover {
  cursor: pointer;
  color: #ef4444;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.sidebar .icon-play {
  width: 40px;
  height: 40px;
}

.sidebar .icon-play {
  cursor: pointer;
}

.sidebar .side-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 25px;
}

.sidebar .side-items .btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.sidebar .side-items .btn-group button {
  width: 100%;
}

.sidebar .side-items i {
  font-size: 20px;
}

.sidebar .side-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .side-icons:hover {
  cursor: pointer;
}

.main {
  padding: 50px;
  margin-top: 50px;
  position: sticky;
}

.main .page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
}

.main .page-title i {
  font-size: 38px;
  color: goldenrod;
}

.main .videos-container,
.main .favorites-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  place-items: center;
}

.main .videos-container .card,
.main .favorites-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  min-width: 200px;
  position: relative;
  gap: 2px;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  border: 1px  #ef4444;
  background-color: #fff;
  /* border-radius: 5%; */
  
  box-shadow: 
    0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
}

/* .main .videos-container .card:hover,
.main .favorites-container .card:hover {
  transform: scale(1.1);
} */

.main .videos-container .card .card-header .card-title,
.main .favorites-container .card .card-header .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.main .videos-container .card .card-header .card-title .favorites-star,
.main .favorites-container .card .card-header .card-title .favorites-star {
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}

.main .videos-container .card .card-header .card-title .favorites-star:hover,
.main .favorites-container .card .card-header .card-title .favorites-star:hover {
  cursor: pointer;
  opacity: .9;
}

.main .videos-container .card .card-header img,
.main .favorites-container .card .card-header img {
  border-radius: 3%;
  max-width: 250px;
  min-width: 250px;
}

.main .videos-container .card .channel-info,
.main .favorites-container .card .channel-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main .videos-container .card-footer,
.main .favorites-container .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* modal */
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 70vh; 
  height: 90vh;
  background-color: #fff;
  /* padding: 40px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-content span.close-button {
  font-size: 32px;
}

.modal-content span.close-button:hover {
  opacity: .9;
  cursor: pointer;
}

.modal .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #ef4444;
  height: 60px;
  width: 100%;
}

.modal .modal-content .modal-header .logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.modal .modal-content .modal-header .icon-play {
  width: 32px;
}

.modal .modal-content .modal-header .logo label {
  font-size: x-large;
  font-weight: 500;
  /* color: #fff; */
}

.modal .modal-content .modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.modal .modal-content .modal-body label {
  font-size: large;
  font-weight: 500;
}

.modal .modal-content .modal-body .channel-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal .modal-content .modal-body .video-info {
  padding: 5px 32px;
}

.modal .modal-content .modal-body .video-title {
  padding: 2px 32px;
}

.modal .modal-content .modal-body .iframe-container {
  width: 100%;
  text-align: center;
}

.modal .modal-content .modal-footer {
  padding: 0 40px 40px 40px;
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar .nav-brand .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .navbar .searchBar input{
    width: 500px;
  }

  .sidebar {
    font-size: large;
    width: 30vh;
  }

  .sidebar .close-nav {
    top: 10px;
    right: 15px;
    left: auto;
  }

  .main .videos-container,
  .main .favorites-container {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .main .videos-container .card,
  .main .favorites-container .card {
    max-width: 300px;
    min-width: 300px;
  }

  .modal-content {
    height: 70vh;
  }
}

/* Desktop */
@media screen and (min-width: 769px) and (max-width: 1279px) { 

  .navbar .hamburger i {
    font-size: 16px;
  }
  
  .navbar .icon-play {
    width: 32px;
    height: 32px;
  }

  .navbar .nav-brand .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .navbar .searchBar input{
    width: 500px;
  }
  
  .sidebar {
    font-size: large;
    width: 30vh;
  }
  
  .sidebar .close-nav {
    top: 10px;
    right: 15px;
    left: auto;
  }

  .main .videos-container,
  .main .favorites-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }

  .main .videos-container .card,
  .main .favorites-container .card {
    max-width: 320px;
    min-width: 320px;
  }

  .main .videos-container .card .card-header img,
  .main .favorites-container .card .card-header img {
    border-radius: 3%;
    max-width: 270px;
    min-width: 270px;
  }

  .modal-content {
    height: 50vh;
    width: 50vh;
  }
}

/* Big boi desktop */
@media screen and (min-width: 1280px) {

  .navbar .icon-play {
    width: 32px;
    height: 32px;
  }

  .navbar .nav-brand .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .navbar .searchBar input{
    width: 500px;
  }
  
  .sidebar {
    font-size: medium;
    width: 30vh;
  }
  
  .sidebar .close-nav {
    position: absolute;
    top: 10px;
    right: 15px;
    left: auto;
  }

  .main .videos-container,
  .main .favorites-container {
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    /* gap: 50px; */
  }

  .main .videos-container.expand {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .main .videos-container .card,
  .main .favorites-container .card {
    max-width: 300px;
    min-width: 300px;
    max-height: 350px;
    min-height: 350px;
  }

  .main .videos-container .card .card-header img,
  .favorites-container .card .card-header img {
    border-radius: 3%;
    max-width: 240px;
    min-width: 240px;
  }

  .modal-content {
    height: 70vh;
  }
}




