/* Media queries */

/* Mobile Devices */
@import url('./css/mobile.css') (max-width: 767px);

/* Tablets iPads (Portrait) */
@import url('./css/tablet.css') (min-width: 768px) and (max-width: 960px);

/* Laptops and Desktops */
@import url('./css/desktop.css') (min-width: 961px) and (max-width: 1280px);

/* Big boi Monitors */
@import url('./css/lg-desktop.css') (min-width: 1281px);

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

a {
  text-decoration: none;
}